<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CompleteAlienWebApp</display-name>
   <servlet>
  	<servlet-name>GetAlienController</servlet-name>
  	<servlet-class>com.krishna.web.GetAlienController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetAlienController</servlet-name>
  	<servlet-class>com.krishna.web.SetAlienController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAlienController</servlet-name>
  	<url-pattern>/getAlien</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetAlienController</servlet-name>
  	<url-pattern>/addAlien</url-pattern>
  </servlet-mapping>

</web-app>